# Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Importing the dataset

In [2]:
dataset=pd.read_csv("Unemployment in America Per US State.csv")
dataset.head()

,FIPS Code,State/Area,Year,Month,Total Civilian Non-Institutional Population in State/Area,Total Civilian Labor Force in State/Area,Percent (%) of State/Area's Population,Total Employment in State/Area,Percent (%) of Labor Force Employed in State/Area,Total Unemployment in State/Area,Percent (%) of Labor Force Unemployed in State/Area
0,1,Alabama,1976,1,"2,605,000","1,484,555",57.0,"1,386,023",53.2,"98,532",6.6
1,2,Alaska,1976,1,"232,000","160,183",69.0,"148,820",64.1,"11,363",7.1
2,4,Arizona,1976,1,"1,621,000","964,120",59.5,"865,871",53.4,"98,249",10.2
3,5,Arkansas,1976,1,"1,536,000","889,044",57.9,"824,395",53.7,"64,649",7.3
4,6,California,1976,1,"15,621,000","9,774,280",62.6,"8,875,685",56.8,"898,595",9.2

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29892 entries, 0 to 29891
Data columns (total 11 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   FIPS Code                                                  29892 non-null  int64
 1   State/Area                                                 29892 non-null  object
 2   Year                                                       29892 non-null  int64
 3   Month                                                      29892 non-null  int64
 4   Total Civilian Non-Institutional Population in State/Area  29892 non-null  object
 5   Total Civilian Labor Force in State/Area                   29892 non-null  object
 6   Percent (%) of State/Area's Population                     29892 non-null  float64
 7   Total Employment in State/Area                             29892 non-null  object
 8   Percent (%) of Labor Force Employed in State/Area          29892 non-null  float64
 9   Total Unemployment in State/Area                           29892 non-null  object
 10  Percent (%) of Labor Force Unemployed in State/Area        29892 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 2.5+ MB

# Finding any missing data

In [4]:
dataset.isnull().sum()

FIPS Code                                                    0
State/Area                                                   0
Year                                                         0
Month                                                        0
Total Civilian Non-Institutional Population in State/Area    0
Total Civilian Labor Force in State/Area                     0
Percent (%) of State/Area's Population                       0
Total Employment in State/Area                               0
Percent (%) of Labor Force Employed in State/Area            0
Total Unemployment in State/Area                             0
Percent (%) of Labor Force Unemployed in State/Area          0
dtype: int64

In [5]:
## there are no missing values present

# Splitting the data into independent & dependent variable

In [6]:
dataset.columns

Index(['FIPS Code', 'State/Area', 'Year', 'Month',
       'Total Civilian Non-Institutional Population in State/Area',
       'Total Civilian Labor Force in State/Area',
       'Percent (%) of State/Area's Population',
       'Total Employment in State/Area',
       'Percent (%) of Labor Force Employed in State/Area',
       'Total Unemployment in State/Area',
       'Percent (%) of Labor Force Unemployed in State/Area'],
      dtype='object')

In [7]:
X=dataset[['FIPS Code', 'State/Area', 'Year', 'Month',
       'Total Civilian Non-Institutional Population in State/Area',
       'Total Civilian Labor Force in State/Area',
       "Percent (%) of State/Area's Population",
       'Total Employment in State/Area',
       'Percent (%) of Labor Force Employed in State/Area',
       'Total Unemployment in State/Area']]

y=dataset[['Percent (%) of Labor Force Unemployed in State/Area']]

# Handling Categorical Variables

In [8]:
X=pd.get_dummies(dataset[['FIPS Code', 'State/Area', 'Year', 'Month',
       'Total Civilian Non-Institutional Population in State/Area',
       'Total Civilian Labor Force in State/Area',
       "Percent (%) of State/Area's Population",
       'Total Employment in State/Area',
       'Percent (%) of Labor Force Employed in State/Area',
       'Total Unemployment in State/Area']],
                 drop_first=True)

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29892 entries, 0 to 29891
Columns: 113648 entries, FIPS Code to Total Unemployment in State/Area_999,100
dtypes: float64(2), int64(3), uint8(113643)
memory usage: 3.2 GB

In [10]:
X.head()

,FIPS Code,Year,Month,Percent (%) of State/Area's Population,Percent (%) of Labor Force Employed in State/Area,State/Area_Alaska,State/Area_Arizona,State/Area_Arkansas,State/Area_California,State/Area_Colorado,...,"Total Unemployment in State/Area_995,999","Total Unemployment in State/Area_996,186","Total Unemployment in State/Area_996,417","Total Unemployment in State/Area_996,969","Total Unemployment in State/Area_997,360","Total Unemployment in State/Area_997,587","Total Unemployment in State/Area_997,603","Total Unemployment in State/Area_998,504","Total Unemployment in State/Area_998,844","Total Unemployment in State/Area_999,100"
0,1,1976,1,57.0,53.2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1976,1,69.0,64.1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,1976,1,59.5,53.4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,1976,1,57.9,53.7,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,1976,1,62.6,56.8,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y.head()

   Percent (%) of Labor Force Unemployed in State/Area
0                                                6.6
1                                                7.1
2                                               10.2
3                                                7.3
4                                                9.2

# Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,
                                              test_size=.1,
                                              random_state=20)

# Training the Logistic Regression model on the Training set

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(X_train.values,y_train)

In [ ]:
X_test, X_val, y_test, y_val=train_test_split(X_test,y_test,
                                              test_size=.15, random_state=30)

# Predicting a new result-validation set

-fibs code 6
-state/area california
-year 1975
-month 2
-total civial non-institutional 1,621,000
-total civial 1,456
-percent 57%
-total employment 148,820
-percent of labor force 56.8
-total unemployement 64,649
-percentage 6.6%

In [2]:
X_test.columns

NameError: name 'X_test' is not defined

In [1]:
print(classifier.predict([[6,1,1975,162100,1456,57,148820,56.8,64649,6.6]]))

NameError: name 'classifier' is not defined

# Making the confusion matrix

In [ ]:
y_pred=classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
cm=confusion_matrix(y_test,y_pred)
print(cm)

In [ ]:
disp=ConfusionMatrixDisplay(confusion_matrix=cm,

                        display_labels=classifier.classes_)
disp.plot()
plt.show()

# Classification Report

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

# Summary of Results